@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.detail {

}

.custom-marker {
  border-radius: 50%;
  border: 2px solid #fff;
}

.custom-marker.future {
  background-color: #808080; /* grey */
}

.custom-marker.normal {
  background-color: #808080; /* grey */
}

.custom-marker.overtaken {
  background-color: #FF0000; /* red */
}

.custom-marker.closed {
  background-color: #000000; /* black */
}

.custom-marker.active {
  background-color: #FFFF00; /* yellow */
}