@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.detail {

}

.custom-marker {
  border-radius: 50%;
  border: 2px solid #fff;
}

.custom-marker.active {
  background-color: #4CAF50;
}

.custom-marker.overtaken {
  background-color: #FFC107;
}

.custom-marker.closed {
  background-color: #F44336;
}

.custom-marker.future {
  background-color: #2196F3;
}